<!-- 
    TODO:
    *agregar la etiqueta <form>
    *crear las etiquedas de cada campo y aplicar su id y su for
    *crear elementos de entrada de datos para cada campo
        <label for="email" id="emaillabel">Email:</label>
        <input type="email" id="email">
    FIXME:

 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <input action="register.html" method="POST">
        <label for="nombre-apellido">Nombre y Apellido</label>
        <input type="text" id="nombre-apellido" placeholder="Nombre y Apellido">
        <label for="nombre-usuario">Nombre de usuari@</label>
        <input type="text" id="nombre-usuario" placeholder="Nombre de usuario">
        <label for="fecha-nacimiento">Fecha de fecha-nacimiento</label>
        <input type="date" id="fecha-nacimiento" placeholder="Fecha de fecha-nacimiento">
        <label for="domicilio">Domicilio</label>
        <input type="text" id="domicilio" placeholder="Domicilio">
        <label for="perfil-usuario">Perfil de usuario</label>
        <input type="radio" name="perfil" id="comprador">
        <label for="comprador">Comprador</label>
        <input type="radio" name="perfil" id="vendedor">
        <label for="comprador">Vendedor</label>
    </form>
</body>
</html>