/* Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a; */

* {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0px;
}

body {
  background-color: #ebebeb;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #eac926;
  /* padding: 0 20px; */
}

header p,
a,
i {
  font-size: 12px;
}

#logo {
  height: 40px;
  margin: 20px;
}

#seccion-busqueda {
  margin-left: 20px;
}
#barra-busqueda {
  background-color: white;
  color: #666;
  border: 1px solid black;
  width: 200px;
}

#icono-busqueda {
  border: 1px solid black;
  margin-top: 3px;
  padding: 2.5px;
  background-color: #ebebeb;
}

#compra-en-cuotas {
  margin-top: 10px;
  margin-left: 60px;
}
#texto-compra-en-cuotas {
  display: inline;
}

#listado-links01 {
  margin: 20px 0;
}

.link-seccion a {
  text-decoration: none;
  color: black;
}

#link005,
#link006,
#link007 {
  display: inline;
}

#menu-hamburguesa-container {
  text-align: center;
}
#menu-hamburguesa {
  background-color: #1259c3;
  color: white;
  padding: 10px;
  border-radius: 10%;
  font-size: 25px;
  margin-bottom: 20px;
}

#imagen-banner {
  width: 100%;
}

/*------ MAIN ------ */
main {
  width: 90%;

  margin: auto;
}

main h2 {
  margin: 20px 10px;
  color: #666;
}

#seccion-ultima-visita,
#seccion-ofertas {
  text-align: center;
}

/*------ PRODUCTO------ */
article {
  margin-bottom: 10px;
  background-color: white;
}

.descripcion-producto {
  border: solid 1px #ebebeb;
  padding: 15px;
  text-align: left;
}

.icono-envio-producto {
  color: #39b54a;
  font-size: 16px;
  margin-bottom: 5px;
  border-radius: 50%;
  border: 1px solid #39b54a ;
  padding: 10px;
}
.descuento-producto {
  color: #39b54a;
}

.titulo-producto {
  color: #666;
  font-weight: normal;
  font-size: 16px;
  margin-top: 20px;
}

#seccion-ultima-visita img,
#seccion-ofertas img {
  height: 250px;
}



/* ------ FOOTER ------ */
#footer {
  background-color: white;
  padding: 10px;
}

#footer li {
  margin: 40px;
}

.iconos-footer {
  font-size: 2em;
  color: #1259c3;
  margin-bottom: 10px;
}

.footer-centrado {
  text-align: center;
}

.texto-footer {
  font-size: 12px;
}
